<div class="columns is-centered">
    <div class="form-container box">

        <h1 class="title">Editar Película</h1>

        <%= render 'form', movie: @movie %>

        <%= link_to 'Atrás', :back, class: 'button back-button' %>
    </div>
</div>