<h1 class="title">Editar Ticket</h1>

<%=
  render partial: 'form',
         movie_ticket: @movie_ticket,
         locals: {
           url: movie_ticket_path(@movie_ticket),
           method: :put,
         }
%>

<%= link_to 'Atrás', movie_tickets_path, class: 'button' %>
