<h1>Editing Movie Ticket</h1>

<%=
  render partial: 'form',
         movie_ticket: @movie_ticket,
         locals: {
           url: movie_ticket_path(@movie_ticket),
           method: :put,
         }
%>

<%= link_to 'Show', @movie_ticket %> |
<%= link_to 'Back', movie_tickets_path %>
