<h1>New Movie Ticket</h1>

<%=
  render partial: 'form',
         movie_ticket: @movie_ticket,
         locals: {
           url: show_time_movie_tickets_path,
           method: :post,
         }
%>

<%= link_to 'Back', movie_tickets_path %>
