<h1 class="title">Reserva de Ticket</h1>
<p class="subtitle">Película: <%= @movie_ticket.show_time.movie.name %></p>

<%=
  render partial: 'form',
         movie_ticket: @movie_ticket,
         locals: {
           url: show_time_movie_tickets_path,
           method: :post,
         }
%>

<%= link_to 'Atrás', :back, class: 'button' %>
